@model IEnumerable<HastagMusic.Models.PostViewModel>
@{
    ViewData["title"] = "Reels";
}


@foreach (var item in Model.Where(i=>i.Type == "Video"))
{
  bool gosto = UserManagerServices.GetGostos().Any(g => g.UserID== ViewBag.id && g.PostID == item.Id);  
    int qtdGosto = UserManagerServices.GetGostos().Count(i =>i.PostID == item.Id);
    int qtdComments = UserManagerServices.GetCommets().Count(q =>q.PostID == item.Id);
<div class="post-container">
    <div class="post-row">
        <div class="user-profile">
            <img src="~/icons/perfil.png" alt="">
            <div class="user-profile-text">
                <p>@item.UserName</p>
                <small>@item.Hora</small>
            </div>
        </div>
            <a  href="#" class="btn-right">⫶</a>

    </div>

        <div>
            <p class="post-text">@item.Content</p>
        </div>
        <div>
                <video class="post-video" controls>
                    <source src="~/uploads/videos/@item.FileName" type="video/mp4" class="post-img">
                    Your browser does not support the video tag.
                </video>
                <div class="post-row">
                    <div class="actividades-icon">
                        @if(gosto)
                        {
                            <form asp-action="NaoGostar" asp-route-userId="@item.Id" method="post">
                                <input type="submit" class="btn btn-gosto btn-liked"/><small>@qtdGosto</small>
                            </form>
                        }
                        else{
                            <form asp-action="Gostar" asp-route-userId="@item.Id" method="post">
                                <input type="submit"  class="btn btn-gosto"/><small>@qtdGosto</small>
                            </form>
                        }

                        <form asp-action="Comment" asp-controller="Comments" asp-route-userId="@item.Id" method="post">
                           <input type="submit" value="Comentar" class="btn btn-comentario"/>
                            <small>@qtdComments</small>
                        </form>
                    </div>
                </div>
        </div>
</div>
}
<!---------------------------------------------------------->